<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Processa divergência entre Unimed e Concent</mat-card-title>
  </mat-card-header>
  <div *ngIf="!startRequestSubmit">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <label>Relatório Unimed</label>
          <input type="file" class="file-input"
                 (change)="onFileUnimedSelected($event)" #fileUnimedUpload>
          <div class="file-upload">
            {{fileNameUnimed || ""}}

            <button mat-mini-fab color="primary" class="upload-btn"
                    (click)="fileUnimedUpload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
        </div>
        <div class="col">
          <label>Relatório Concent</label>
          <input type="file" class="file-input"
                 (change)="onFileConcentSelected($event)" #fileConcentUpload>
          <div class="file-upload">
            {{fileNameConcent || ""}}

            <button mat-mini-fab color="primary" class="upload-btn"
                    (click)="fileConcentUpload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Processar</button>
    </mat-card-actions>
  </div>

  <div class="loading-spinner" *ngIf="startRequestSubmit">
    <mat-spinner></mat-spinner>
  </div>

  <mat-divider></mat-divider>

  <mat-tab-group *ngIf="finishRequestSubmit">
    <mat-tab label="Unimed">
      <div>
        <h3>Total de exames processados: <span class="bold-text">{{totalItensUnimedProcessados}}</span></h3>
        <h3>Total de exames com sucesso: <span class="bold-text">{{totalItensUnimedComSucesso}}</span></h3>
        <h3>Total de exames com divergência: <span class="bold-text">{{totalItensUnimedComDivergencia}}</span></h3>
      </div>

      <app-itens-unimed-list
        [itens]="itensDivergenteOrigemUnimed"
        [empresa]="'laboratorio'"
      ></app-itens-unimed-list>
    </mat-tab>
    <mat-tab label="Concent">
      <div>
        <h3>Total de exames processados: <span class="bold-text">{{totalItensConcentProcessados}}</span></h3>
        <h3>Total de exames com sucesso: <span class="bold-text">{{totalItensConcentComSucesso}}</span></h3>
        <h3>Total de exames com divergência: <span class="bold-text">{{totalItensConcentComDivergencia}}</span></h3>
      </div>

      <app-itens-concent-list
        [itens]="itensDivergenteOrigemConcent"
        [sistemaComparado]="'concent'"
      ></app-itens-concent-list>
    </mat-tab>
  </mat-tab-group>
</mat-card>
