<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Processa divergência entre Unimed e NetRis</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <label>Relatório Unimed</label>
        <input type="file" class="file-input"
               (change)="onFileUnimedSelected($event)" #fileUnimedUpload>
        <div class="file-upload">
          {{fileNameUnimed || ""}}

          <button mat-mini-fab color="primary" class="upload-btn"
                  (click)="fileUnimedUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
      </div>
      <div class="col">
        <label>Relatório NetRis</label>
        <input type="file" class="file-input"
               (change)="onFileNetRisSelected($event)" #fileNetRisUpload>
        <div class="file-upload">
          {{fileNameNetRis || ""}}

          <button mat-mini-fab color="primary" class="upload-btn"
                  (click)="fileNetRisUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Processar</button>
  </mat-card-actions>
  <mat-divider></mat-divider>
  <mat-tab-group *ngIf="finishProccess">
    <mat-tab label="Unimed">
      <div>
        <h3>Total de exames processados: <span class="bold-text">{{totalItensUnimedProcessados}}</span></h3>
        <h3>Total de exames com sucesso: <span class="bold-text">{{totalItensUnimedComSucesso}}</span></h3>
        <h3>Total de exames com divergência: <span class="bold-text">{{totalItensUnimedComDivergencia}}</span></h3>
      </div>

      <app-itens-unimed-list
        [itens]="itensDivergenteOrigemUnimed"
        [empresa]="'imagem'"
      ></app-itens-unimed-list>
    </mat-tab>
    <mat-tab label="NetRis">
      <div>
        <h3>Total de exames processados: <span class="bold-text">{{totalItensNetRisProcessados}}</span></h3>
        <h3>Total de exames com sucesso: <span class="bold-text">{{totalItensNetRisComSucesso}}</span></h3>
        <h3>Total de exames com divergência: <span class="bold-text">{{totalItensNetRisComDivergencia}}</span></h3>
      </div>

      <app-itens-concent-list
        [itens]="itensDivergenteOrigemNetRis"
        [sistemaComparado]="'netris'"
      ></app-itens-concent-list>
    </mat-tab>
  </mat-tab-group>
</mat-card>
