<mat-toolbar color="primary">
  <button mat-button routerLink="/unimed">Home</button>
  <button mat-button routerLink="/unimed/compara-concent">Concent</button>
  <button mat-button routerLink="/unimed/compara-netris">NetRis</button>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/unimed">Home</button>
    <button mat-menu-item routerLink="/unimed/compara-concent">Concent</button>
    <button mat-menu-item routerLink="/unimed/compara-netris">NetRis</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
