<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">Relatórios</mat-toolbar>

    <div class="column-flex mat-elevation-z8">
      <mat-card-content>
        <label>Relatório Unimed</label>
        <input type="file" class="file-input"
               (change)="onFileUnimedSelected($event)" #fileUnimedUpload>
        <div class="file-upload">
          {{fileNameUnimed || ""}}

          <button mat-mini-fab color="primary" class="upload-btn"
                  (click)="fileUnimedUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>

        <br>
        <br>

        <label>Relatório Concent</label>
        <input type="file" class="file-input"
               (change)="onFileConcentSelected($event)" #fileConcentUpload>
        <div class="file-upload">
          {{fileNameConcent || ""}}

          <button mat-mini-fab color="primary" class="upload-btn"
                  (click)="fileConcentUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
      </mat-card-content>

      <br>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">Processar</button>
        <button mat-raised-button (click)="onCancel()" class="margin-left-5">Cancelar</button>
      </mat-card-actions>

      <mat-divider></mat-divider>

      <mat-tab-group *ngIf="finishProccess">
        <mat-tab label="Unimed">
          <p>Itens não encontrados no relatório do Concent.</p>
          <app-itens-unimed-list
            [itens]="itensDivergenteOrigemUnimed"
          ></app-itens-unimed-list>
        </mat-tab>
        <mat-tab label="Concent">
          <p>Itens não encontrados no relatório da Unimed.</p>
          <app-itens-concent-list
            [itens]="itensDivergenteOrigemConcent"
          ></app-itens-concent-list>
        </mat-tab>
      </mat-tab-group>

    </div>
  </mat-card-content>
</mat-card>
