<button mat-raised-button color="primary" (click)="exportExcel()">Exportar</button>

<mat-table [dataSource]="itens">

  <!-- Requisicao Column -->
  <ng-container matColumnDef="requisicao">
    <mat-header-cell *matHeaderCellDef class="column-100"> Requisição</mat-header-cell>
    <mat-cell *matCellDef="let item" class="column-100"> {{item.requisicao}} </mat-cell>
  </ng-container>

  <!-- Guia Column -->
  <ng-container matColumnDef="guia">
    <mat-header-cell *matHeaderCellDef class="column-100"> Guia</mat-header-cell>
    <mat-cell *matCellDef="let item" class="column-100"> {{item.guia}} </mat-cell>
  </ng-container>

  <!-- Beneficiario Column -->
  <ng-container matColumnDef="beneficiario">
    <mat-header-cell *matHeaderCellDef class="column-300"> Beneficiário</mat-header-cell>
    <mat-cell *matCellDef="let item" class="column-300"> {{item.beneficiario}} </mat-cell>
  </ng-container>

  <!-- Codigo Column -->
  <ng-container matColumnDef="codigo">
    <mat-header-cell *matHeaderCellDef class="column-100"> Código</mat-header-cell>
    <mat-cell *matCellDef="let item" class="column-100"> {{item.codigo}} </mat-cell>
  </ng-container>

  <!-- Descricao Column -->
  <ng-container matColumnDef="descricao">
    <mat-header-cell *matHeaderCellDef> Descrição</mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.descricao}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
